@font-face {
    font-family: "Movement Direct Black";
    src:    url(../fonts/Movement-DirectBlack.woff2) format('woff2'),
            url(../fonts/Movement-DirectBlack.woff) format('woff');
}

@font-face {
    font-family: "Movement Direct Thin";
    src:    url(../fonts/Movement-DirectThin.woff2) format('woff2'),
            url(../fonts/Movement-DirectThin.woff) format('woff');
}


$colors: (
	"brown": #534e4d,
	"palebrown": #b4967f,
	"blue": #8d9da6,
	"green": #9cafa8,
);

$primary: #534e4d;

$display-font-sizes: (
	1: 8rem,
	2: 4.5rem,
	3: 4rem,
	4: 3.5rem,
	5: 3rem,
	6: 2.5rem,
) !default;

// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing,
.about,
.projects,
.contact {
	height: 100vh;
	background: linear-gradient(
		45deg,
		map-get($colors, "blue"),
		map-get($colors, "green"),
		map-get($colors, "palebrown")
	);
	background-size: 600%;
	background-position: 0%;
	animation: BGSlider 10s infinite alternate;
}

@keyframes BGSlider {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

.landing,
.about,
.projects,
.contact  {
	display: grid;
    height: 100vh;
	grid-template-rows: 15% 1fr 10%;
    font-family: "Architects Daughter", cursive;
	color: map-get($colors, "brown");
}

.landing-portrait {
	clip-path: polygon(
		50% 100%,
		90% 80%,
		100% 40%,
		75% 0%,
		25% 0%,
		0% 40%,
		10% 80%
	);
}

.landing-portrait img {
    width: 500px;
    height: auto;
}

h1 {
    font-family: "Movement Direct Black", "Architects Daughter", cursive;
}

h2 {
    font-family: "Movement Direct Thin", "Architects Daughter", cursive;
}

footer p {
    font-size: .85rem;
}

// .nav-dropdown {
//     display: none;
//     position: absolute;
//     z-index: 100;
// }

// .nav-dropdown-trigger:hover .nav-dropdown,
// .nav-dropdown-trigger:focus .nav-dropdown {
//     display: block;
// }

@include media-breakpoint-down(sm) {
    .landing,
    .about,
    .projects,
    .contact {
        padding: .75rem;
    }

    .landing header {
        nav {
            font-size: 0.85rem;
        }
    }

    .landing a {
        padding: 0 .5rem;
    }

    .landing main {
        flex-direction: column;
    }

    footer {
        p {
            font-size: .6rem;
        }
    }
}